.App {
  text-align: center;
 /* background-color: lightgray; */
}

.App-header {
  background-color: #ffffff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  /* border: solid 1px;
  border-radius: 7px; */
  width: 70%;
  margin: 0 auto;
}

body{
  background-color: rgb(255, 255, 255) ;
}

/* .api-container {

} */

.api-ul {
  border: 1px solid;
  border-color: rgb(12, 179, 123);
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 570px;

}

.api-urls {
  font-family: "Arial";
  border: solid 1px;
  border-color: green;
  border-radius: 3px;
  padding: 7px;
  background-color: rgba(127, 255, 212, 0.223);
}

button {
  font-family: "Arial";
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 7px;
}

button:hover {
  background-color: rgba(144, 208, 238, 0.092);
  border-color: blue;
}