.App {
  text-align: center;
 background-color: lightgray;
}

.App-header {
  background-color: #ffffff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  /* border: solid 1px;
  border-radius: 7px; */
  width: 70%;
  margin: 0 auto;
}

body{
  background-color: rgb(255, 255, 255) ;
}

button {
  margin: 7px;
}